<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department Form</title>
<!-- Latest compiled and minified CSS -->

</head>
<body>
 
 	<th:block th:insert="Header.html"></th:block>
 	
	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-white text-center bg-primary">
				<h3>Department Form</h3>
			</div>
			<form action="/department/add" method="post">
				<div class="card-body">
					<div class="row p-2">
						<div class="col-4">Department Name</div>
						<div class="col-6">
							<input type="text" name="name" class="form-control"
								placeholder="Enter department Name" required>
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Department Head(HOD)</div>
						<div class="col-6">
							<input type="text" name="deptHead" class="form-control"
								placeholder="Enter department Head">
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Department Phone</div>
						<div class="col-6">
							<input type="text" name="deptPhone" class="form-control"
								placeholder="Enter department Phone" required>
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Add" class="btn btn-success"
								placeholder="Enter department Phone" required>
						</div>
					</div>

				</div>
				<div class="card-footer text-center  bg-warning">@copyright2025</div>

			</form>
		</div>
	</div>

</body>
</html>