<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department Edit Form</title>
<!-- Latest compiled and minified CSS -->
</head>
<body>
	<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-white text-center bg-primary">
				<h3>Employee Edit Form</h3>
			</div>
			<form action="/employee/update" method="post" th:object="${eModel}">
				<div class="card-body">
					<div class="row p-2">
						<div class="col-4">Employee Name</div>
						<div class="col-6">
							<input type="text" th:field="*{fname}" class="form-control"
								placeholder="Enter Employee Name" required>
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Employee Company</div>
						<div class="col-6">
							<input type="text" th:field="*{company}" class="form-control"
								placeholder="Enter Company">
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4">Employee Phone</div>
						<div class="col-6">
							<input type="text" th:field="*{phone}" class="form-control"
								placeholder="Enter phone" required>
						</div>
					</div>
					<div class="row p-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Update" class="btn btn-success"
								placeholder="Enter edit" required>
						</div>
					</div>
					<input type="hidden" th:field="*{id}">
				</div>
				<div class="card-footer text-center  bg-warning">@copyright2025</div>
			</form>
		</div>
	</div>

</body>
</html>