<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department Form</title>
<!-- Latest compiled and minified CSS -->

</head>
<body>
 
 	<th:block th:insert="Header.html"></th:block>
 	
	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-white text-center bg-primary">
				<h3>Gallery</h3>
			</div>
			<div class="card-body">
				<span th:each="imgName : ${imgList}">
					<img class="p-2" th:src="@{'/images/'+${imgName}}" width="300" height="300">
				</span>
			</div>
			<div class="card-footer text-center  bg-warning">@copyright2025</div>
		</div>
	</div>

</body>
</html>